Repository udistrital/arka_cliente, pull requests merged in 2020-12, with the labels that each got.

#324 Feature/catalogo oculta campos
  src/app/@core/data/models/acta_recibido/tipo_bien.ts
  src/app/pages/catalogo-bienes/crud-movimientos/crud-movimiento.component.ts
  src/app/pages/catalogo-bienes/crud-subgrupo/crud-subgrupo.component.ts
  src/app/pages/catalogo-bienes/crud-subgrupo/form-subgrupo.ts
  src/app/pages/catalogo-bienes/registro-catalogo/registro-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.ts
  src/environments/environment.ts
Labels: Modulo catalogo de bienes

#334 fix: Extensión en carga masiva
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
Labels: Modulo de Acta de recibido, bug

#335 Feature/actas macro check
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.html
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.html
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo de Acta de recibido

#336 fix: #315 Muestra error para revisor_id=0
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo de Acta de recibido

#354 feat: #347 Para Secretaria, se filtran solo actas registradas
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.ts
Labels: Modulo de Acta de recibido

#355 Fix/busqueda arboles
  src/app/pages/catalogo-bienes/arbol/arbol.component.ts
Labels: bug

#357 Feature/anular actas
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.html
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.scss
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.ts
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.html
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo de Acta de recibido

#373 #327 feature:SOLUCIONADO TODO
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.html
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
Labels: Modulo de Acta de recibido

#375 #367 Actualizada la plantilla general sin campos de clase para todos
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
Labels: Modulo de Acta de recibido

#385 Feature/actas shift
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.html
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.scss
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
Labels: Modulo de Acta de recibido

#388 feat #380 p1/2
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.html
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
Labels: Modulo de Acta de recibido

#390 feat: #380 Un soporte por acta (se desactiva agregar/quitar)
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.html
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.html
Labels: Modulo de Acta de recibido

#392 Feature/entradas nuevas
  src/app/pages/catalogo-bienes/crud-movimientos/form-movimiento.ts
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo catalogo de bienes

#393 Feature/timeout token
  src/app/@core/utils/authentication.service.ts
  src/app/managers/popUpManager.ts
  src/app/pages/pages.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo de Acta de recibido
