Repository udistrital/arka_cliente, pull requests merged in 2021-02, with the labels that each got.

#476 Feature/mas entradas nuevas
  src/app/pages/entradas/entradas.module.ts
  src/app/pages/entradas/intangibles-desarrollados/intangibles-desarrollados.component.html
  src/app/pages/entradas/intangibles-desarrollados/intangibles-desarrollados.component.scss
  src/app/pages/entradas/intangibles-desarrollados/intangibles-desarrollados.component.spec.ts
  src/app/pages/entradas/intangibles-desarrollados/intangibles-desarrollados.component.ts
  src/app/pages/entradas/provisional/provisional.component.html
  src/app/pages/entradas/provisional/provisional.component.scss
  src/app/pages/entradas/provisional/provisional.component.spec.ts
  src/app/pages/entradas/provisional/provisional.component.ts
  src/app/pages/entradas/registro/registro.component.html
  src/app/pages/entradas/registro/registro.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: desarrollo

#480 Feature/entrada aprovechamientos
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.html
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.scss
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.spec.ts
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.ts
  src/app/pages/entradas/entradas.module.ts
  src/app/pages/entradas/registro/registro.component.html
Labels: Modulo de entradas

#486 Fix/ux catalogo
  src/app/@core/data/models/base.ts
  src/app/@core/data/models/movimientos.ts
  src/app/pages/catalogo-bienes/arbol/arbol.component.html
  src/app/pages/catalogo-bienes/arbol/arbol.component.scss
  src/app/pages/catalogo-bienes/arbol/arbol.component.ts
  src/app/pages/catalogo-bienes/consulta-catalogo/consulta-catalogo.component.html
  src/app/pages/catalogo-bienes/consulta-catalogo/consulta-catalogo.component.ts
  src/app/pages/catalogo-bienes/crud-movimientos/crud-movimiento.component.ts
  src/app/pages/catalogo-bienes/inactivar-grupo/inactivar-grupo.component.html
  src/app/pages/catalogo-bienes/inactivar-grupo/inactivar-grupo.component.ts
  src/app/pages/catalogo-bienes/registro-catalogo/registro-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.ts
  src/app/pages/catalogo-bienes/registro-elementos/registro-elementos.component.html
  src/app/pages/catalogo-bienes/registro-elementos/registro-elementos.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo catalogo de bienes, bug

#488 Fix/niveles y otros catalogo
  src/app/@theme/components/dinamicform/dinamicform.component.html
  src/app/pages/catalogo-bienes/arbol/arbol.component.html
  src/app/pages/catalogo-bienes/arbol/arbol.component.ts
  src/app/pages/catalogo-bienes/crud-movimientos/crud-movimiento.component.ts
  src/app/pages/catalogo-bienes/inactivar-grupo/inactivar-grupo.component.html
  src/app/pages/catalogo-bienes/inactivar-grupo/inactivar-grupo.component.ts
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.ts
  src/app/pages/catalogo-bienes/registro-elementos/registro-elementos.component.html
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: bug

#495 Feature/entrada aprovechamientos ajuste
  src/app/@core/data/models/acta_recibido/soporte_acta.ts
  src/app/@core/data/models/oikos.ts
  src/app/@core/data/models/terceros.ts
  src/app/@core/data/models/terceros_criterio.ts
  src/app/@core/store/app.state.ts
  src/app/@core/store/reducers/list.reducer.ts
  src/app/@core/store/rootReducer.ts
  src/app/@core/store/services/list.service.ts
  src/app/helpers/terceros/tercerosHelper.ts
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.ts
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.ts
  src/app/pages/bodega-consumo/form-elementos-seleccionados/form-elementos-seleccionados.component.ts
  src/app/pages/catalogo-bienes/crud-grupo/crud-grupo.component.ts
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.html
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.ts
  src/app/pages/salidas/form-elementos-seleccionados/form-elementos-seleccionados.component.ts
Labels: Modulo de entradas

#492 Feature/consulta entradas
  src/app/@core/data/models/entrada/entrada.ts
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.html
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.ts
Labels: bug, desarrollo

#498 Fix/actas
  src/app/helpers/catalogo-elementos/catalogoElementosHelper.ts
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.html
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.ts
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.html
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.html
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.scss
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.html
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.ts
  src/app/pages/bajas/form-elementos-seleccionados/form-elementos-seleccionados.component.html
  src/app/pages/catalogo-bienes/consulta-catalogo/consulta-catalogo.component.ts
  src/app/pages/catalogo-bienes/inactivar-grupo/inactivar-grupo.component.ts
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.ts
  src/app/pages/catalogo/list-catalogo/list-catalogo.component.ts
  src/app/pages/salidas/form-elementos-seleccionados/form-elementos-seleccionados.component.scss
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo catalogo de bienes, Modulo de Acta de recibido, bug

#500 Feature/consulta aprovechamientos
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.html
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.ts
Labels: desarrollo

#501 Fix/bugs actas
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.html
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.scss
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.html
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.html
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.html
  src/app/pages/acta-recibido/ver-detalle/ver-detalle.component.html
  src/app/pages/acta-recibido/ver-detalle/ver-detalle.component.scss
  src/app/pages/acta-recibido/ver-detalle/ver-detalle.component.ts
  src/app/pages/acta-recibido/verificacion-acta-recibido/verificacion-acta-recibido.component.html
  src/app/pages/acta-recibido/verificacion-acta-recibido/verificacion-acta-recibido.component.scss
  src/app/pages/acta-recibido/verificacion-acta-recibido/verificacion-acta-recibido.component.ts
  src/app/pages/acta-recibido/verificacion-elementos/verificacion-elementos.component.ts
  src/app/pages/catalogo-bienes/consulta-catalogo/consulta-catalogo.component.html
  src/app/pages/catalogo-bienes/inactivar-grupo/inactivar-grupo.component.html
  src/app/pages/catalogo-bienes/registro-catalogo/registro-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-elementos/registro-elementos.component.html
  src/app/pages/catalogo/list-catalogo/list-catalogo.component.html
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/index.html
Labels: Modulo catalogo de bienes, Modulo de Acta de recibido, bug

#508 Feat/cuentas bajas traslados
  src/app/pages/catalogo-bienes/crud-movimientos/crud-movimiento.component.ts
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.html
  src/app/pages/catalogo-bienes/registro-cuentas-catalogo/registro-cuentas-catalogo.component.ts
  src/app/pages/entradas/registro/registro.component.html
  src/app/pages/entradas/registro/registro.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo catalogo de bienes

#511 Fix/personas actas
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.ts
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.html
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
  src/app/pages/acta-recibido/registro-acta-recibido/registro-acta-recibido.component.html
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo de Acta de recibido, bug

#513 Fix/id entradas
  src/app/helpers/terceros/tercerosHelper.ts
  src/app/pages/acta-recibido/consulta-acta-recibido/consulta-acta-recibido.component.ts
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.ts
  src/app/pages/entradas/registro/registro.component.ts
Labels: Modulo de Acta de recibido, Modulo de entradas, bug

#523 Feat/indicacion erorres acta
  .stylelintrc.json
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.html
  src/app/pages/acta-recibido/acta-especial/acta-especial.component.ts
  src/app/pages/acta-recibido/capturar-elementos/capturar-elementos.component.ts
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.html
  src/app/pages/acta-recibido/edicion-acta-recibido/edicion-acta-recibido.component.ts
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.scss
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: Modulo de Acta de recibido

#522 Feature/supervisores ordenadores
  src/app/@core/data/models/terceros_criterio.ts
  src/app/helpers/terceros/tercerosHelper.ts
  src/app/pages/entradas/adquisicion/adquisicion.component.html
  src/app/pages/entradas/adquisicion/adquisicion.component.ts
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.html
  src/app/pages/entradas/aprovechamientos/aprovechamientos.component.ts
  src/app/pages/entradas/caja-menor/caja-menor.component.html
  src/app/pages/entradas/caja-menor/caja-menor.component.ts
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.html
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.ts
  src/app/pages/entradas/elaboracion-propia/elaboracion-propia.component.html
  src/app/pages/entradas/elaboracion-propia/elaboracion-propia.component.ts
  src/app/pages/entradas/intangibles-desarrollados/intangibles-desarrollados.component.html
  src/app/pages/entradas/intangibles-desarrollados/intangibles-desarrollados.component.ts
  src/app/pages/entradas/reposicion/reposicion.component.html
  src/app/pages/entradas/reposicion/reposicion.component.ts
  src/app/pages/entradas/sobrante/sobrante.component.html
  src/app/pages/entradas/sobrante/sobrante.component.ts
Labels: desarrollo

#531 Feature/consulta salidas
  src/app/helpers/salidas/salidasHelper.ts
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.ts
  src/app/pages/salidas/tabla-entrada-aprobada/tabla-entrada-aprobada.component.html
  src/app/pages/salidas/tabla-entrada-aprobada/tabla-entrada-aprobada.component.ts
Labels: desarrollo

#532 Fix/tabla consulta entrada
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.scss
  src/app/pages/entradas/consulta-entrada/consulta-entrada.component.ts
  src/app/pages/entradas/entradas.module.ts
  src/app/pages/salidas/tabla-elementos-asignados/tabla-elementos-asignados.component.ts
Labels: bug, desarrollo
